.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    font-size: 100px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

img{
    height: 580px;
}
